# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
.venv/
env/
venv/

# IDE
.idea/
*.iml

# Logs and temp files
*.tmp
*.bak

# Templates (якщо не потрібні в репо)
y_liashko/logs.txt
